<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ tran("{Material consumption}") }}</title>

    <!-- Note: in order to work in reverse proxy, we cannot use absolute path beginning with /
         Solution with .. is slightly hacky, however is (waaay) simplest and works with no consequences
         as long as printouts have address like <server>/<anything>/Order/3
    -->
    <link href="../static/css/style.css" rel="stylesheet"/>

    <!-- 3rd party lib: bootstrap -->
    <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

  </head>

  <body {% if setup.auto_print %}onload="window.print()"{% endif %}>

    <div class="container" id="main">

        {% include 'printouts/_logo.html' %}

        <!-- Head -->
        <div class="row mb-2 mt-3">

        <div class="col-6">
          <b>{{ setup.company_name }}</b>
          <div class="small">
              {{ setup.company_address | hide_none }}<br>
              {{ setup.company_zip | hide_none }}
              {{ setup.company_city | hide_none }}<br>
              {{ tran("{company_idnum}") }}: {{ setup.company_idnum | hide_none }}
              {{ tran("{Vat ID}") }}: {{ setup.company_vat_idnum | hide_none }}<br>
              {{ setup.company_legal | hide_none }}
          </div>
        </div>

        <div class="col-6">
            <h3 class="text-right">{{ tran("{Material consumption}") }}</h3>
        </div>

        </div>

        <!-- Production facility -->
        <div class="row border mb-2">
          <div class="col-4">
              <b>{{ tran("{facility}") }}</b>
              <div class="small">
                  {{ setup.facility_name | hide_none }}<br>
                  {{ setup.facility_address | hide_none }}<br>
                  {{ setup.facility_zip | hide_none }}
                  {{ setup.facility_city | hide_none }}<br>
                  {{ setup.facility_code | hide_none }}
              </div>
          </div>
          <div class="col-4">
          </div>
          <div class="col-4">
              <b>{{ tran("{date range}") }}</b><br>
              {{date_from}} - {{date_to}}
          </div>
        </div>

        <!-- materials -->
        <div class="ml-0">
            <table style="width:100%;" class="ml-3 mb-4 small">
                <thead class="bold">
                    <td width="40%">{{ tran("{Material}") }}</td>
                    <td class="text-right" width="15%">{{ tran("{from_recipe}") }}</td>
                    <td class="text-right" width="15%">{{ tran("{requested}") }}</td>
                    <td class="text-right" width="15%">{{ tran("{weighted}") }}</td>
                    <td class="text-right" width="15%">{{ tran("{difference}") }}</td>
                </thead>
                {% for m in materials %}
                <tr>
                    <td>{% if m.long_name is none %}{{ m.name }}{% else %}{{ m.long_name }}{% endif %}</td>
                    <td class="text-right">{{ m.amount_recipe | round_me(2) }}</td>
                    <td class="text-right">{{ m.amount_rq | round_me(2) }}</td>
                    <td class="text-right">{{ m.amount_e1 | round_me(2) }}</td>
                    <td class="text-right">{{ (m.amount_e1 - m.amount_rq) | round_me(2) }}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td class="bold">{{ tran("{total}") }}</td>
                    <td class="bold text-right">{{ totals.amount_recipe | round_me(2) }}</td>
                    <td class="bold text-right">{{ totals.amount_rq | round_me(2) }}</td>
                    <td class="bold text-right">{{ totals.amount_e1 | round_me(2) }}</td>
                    <td class="bold text-right">{{ (totals.amount_e1 - totals.amount_rq) | round_me(2) }}</td>
                </tr>
            </table>
        </div>

      <div class="row printout-mini">
          <div class="col-5"></div>
          <div class="col-7 text-right">{{ tran("{asterix_footer}") }} {{date_now}}</div>
      </div>

    </div>

  </body>
</html>
